body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #EEEEEE;
}


.CarouselImg {
    margin: 0 auto;
    position: relative;
    /*width: 85%;*/
    /*height: 0;*/
    /*padding-top: 80%;*/
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #999999;
}

#web-title, #web-title-en {
    text-shadow: 2px 2px 1px rgb(2, 43, 14);
    font-weight: 600;
    color: azure;
}

.carousel-caption {
    padding: 0;
}


.border1 {
    border-radius: 15px;
    border: 1px solid #bebebe;
    padding: 20px;
    background: white;
}


#nav > li > a {
    font-size: 20px;
    font-weight: bold;
}

.head-nav {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(2, 43, 14);
    letter-spacing: 2px; /* 设置文字间距 */
}


.badge.badge-date {
    font-weight: lighter;
    font-size: 5px;
    position: relative;
    top: 100%;
    transform: translateY(30%);
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
}

img.shadow {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.feet-box {
    width: 100%;
    border-width: 5px 0 0 0;
    border-style: solid none none none;
    border-radius: 5px 5px 0 0;
    border-top-color: #27C24C;
    margin: 15px 0 0 0;
    padding: 23px;
    background: #0583CA;
}

.side-title {
    border-width: 0 0 2px 13px;
    border-style: solid;
    border-color: #337AD9;
    margin-bottom: 10px;
    font-weight: bold;
}

.side-title p {
    font-size: 20px;
    margin: 2px 2px 0 0;
    color: #337AD9;
}

.side-content a {
    border-style: none none dashed none;
    margin-bottom: 3px;

}

.channel_box > .list-group > a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;

}

.carousel-caption > h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.channel_box {
    /*height: 315px;*/
    min-height: 305px;
    /*border: 1px solid blue;*/
}

.scroll {
    height: 225px;
    overflow: hidden;
}

.scroll li {
    line-height: 25px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border-style: none none dotted none;
    border-width: 1px;
    border-bottom-color: #aaaabb;
    margin-top: 5px;
    padding-bottom: 1px;

}

.scroll .list {
    padding-left: 0;
    margin-bottom: 20px
}

.scroll li a {
    text-overflow: ellipsis;
    font-size: 14px;
    text-decoration: none;
}

.scroll li a:hover {
    text-decoration: underline;
}

.child-channel {
    background: linear-gradient(to right, pink, #EEEEEE 95%);
    /*background-color: #DDFFFF;*/
    font-size: 15px;
    font-weight: bold;
    color: #337AD9;
    border: 2px transparent;
    border-bottom-style: solid;
    Padding: 0 5px 0 5px;
    margin-bottom: 15px;

}

p.child-channel {

}

p.Channel-title {
    font-size: 20px;
    font-weight: bold;
    color: #337AD9;
    border: 2px transparent;
    border-bottom-style: solid;
    Padding: 5px 0 10px 0;
    margin-bottom: 20px;
    border-image: linear-gradient(to right, #0b5ed7, #EEEEEE 90%);
    border-image-slice: 10;
    /*text-shadow: 0 1px  #0C2695;*/
}


.sticky-bar {
    position: fixed; /* 设置fixed固定定位 */
    bottom: 20px; /* 距离浏览器窗口下边框20px */
    right: 20px; /* 距离浏览器窗口右边框20px */
    /*top: 200px;*/
    /*left: 20px;*/
    width: 12%;
    max-width: 350px;
    min-width: 200px;
    z-index: 100;
}

/*.sticky-bar a {*/
/*    display: block;			!* 将<a>标签设为块元素，用于美化样式 *!*/
/*    text-decoration: none;		!* 取消超链接下画线 *!*/
/*    color: #333;			!* 设置文本颜色 *!*/
/*    background-color: #f2f2f2;		!* 设置背景颜色 *!*/
/*    border: 1px solid #ccc;		!* 设置边框样式 *!*/
/*    !*padding: 10px 20px;			!* 设置内边距 *!*!*/
/*    border-radius: 5px;			!* 设置圆角矩形 *!*/
/*    letter-spacing: 2px;		!* 设置文字间距 *!*/
/*}*/
.sticky-bar img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3px;
}

#sub-nav a {
    /*color: #333;			!* 设置文本颜色 *!*/
    font-weight: lighter;
    font-size: 16px;
    /*background-color: #f2f2f2;		!* 设置背景颜色 *!*/
    /*border: 1px solid #ccc;		!* 设置边框样式 *!*/
    /*padding: 10px 20px;			!* 设置内边距 *!*/
    border-radius: 5px; /* 设置圆角矩形 */
    letter-spacing: 1px; /* 设置文字间距 */
}

#carousel_leader img, #carousel_timeline img {
    max-width: 300px;
    max-height: 200px;

}

#carousel_leader, #carousel_timeline {
    position: absolute;
    top: 50%;
    transform: translate(0, 30%);

}

.btn1 {
    width: 100%;
    margin: 3px;
}

#foot-img-box {
    z-index: 1;
    overflow: hidden;
    height: 200px;
    background: linear-gradient(to right, rgba(127, 127, 127, 255) 1px, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(127, 127, 127, 255) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.move_box {
    z-index: -1;
    position: absolute;
    width: 20%;
    height: 150px;
    margin: 25px;
    /*border: #0c4128;*/
}

.move_box > img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -2;
    max-width: 100%;
    max-height: 100%;
}

.test {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#slider {
    position: fixed; /* 设置fixed固定定位 */
    bottom: 20px; /* 距离浏览器窗口下边框20px */
    left: 20px; /* 距离浏览器窗口右边框20px */
    /*top: 200px;*/
    /*left: 20px;*/
    width: 12%;
    max-width: 350px;
    min-width: 200px;
    z-index: 100;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#channel_list {
    display: block;
    margin: auto;
    overflow: hidden;
}

#channel_list li {
    position: relative;
    display: block;
    margin-bottom: 12px;


}

#channel_list a:hover {
    background: #dddddd;
}

#channel_list li a {
    display: block;
    height: 30px;
    text-overflow: ellipsis;
    color: black;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 6px 0 7px 0;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#article_content {
    font-family: FangSong, serif;
    font-size: 18px;
    line-height: 27px
}
#article_content img{
    max-width: 800px;
    max-height: 600px;
}