body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #EEEEEE;
}


.CarouselImg {
    margin: 0 auto;
    position: relative;
    width: 85%;
    height: 0;
    padding-top: 80%;
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #999999;
}

#web-title, #web-title-en {
    text-shadow: 2px 2px 1px rgb(2, 43, 14);
    font-weight: 600;
    color: azure;
}

.carousel-caption {
    padding: 0;
}

.border1 {
    border-radius: 15px;
    border: 1px solid #bebebe;
    padding: 20px;
    background: white;
}


#nav >li>a{
    font-size: 20px;
    font-weight: bold;
}

.head-nav{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px  rgb(2, 43, 14);
}

p.Channel-title {
    font-size: 20px;
    font-weight: bold;
    color: #337AD9;
    border: 2px transparent;
    border-bottom-style: solid;
    Padding: 5px 0 10px 0;
    margin-bottom: 20px;
    border-image: linear-gradient(to right, #0b5ed7, #EEEEEE 90%);
    border-image-slice: 10;
    /*text-shadow: 0 1px  #0C2695;*/
}

.badge.badge-date {
    font-weight: lighter;
    font-size: 5px;
    position: relative;
    top: 100%;
    transform: translateY(30%);
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
}

img.shadow {
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.feet-box {
    border-width: 5px 0 0 0;
    border-style: solid none none none;
    border-radius: 5px 5px 0 0;
    border-top-color: #27C24C;
    margin: 15px 0 0 0;
    padding: 23px;
    background: #0583CA;
}

#side-title {
    border-width: 0 0 2px 13px;
    border-style: solid;
    border-color: #337AD9;
    margin-bottom: 15px;
    font-weight: bold;
}
#side-title p{
    font-size: 20px;
    margin: 2px 2px 0 0;
    color: #337AD9;
}

#channel-1 >.list-group > a, #channel-2 >.list-group > a, #channel-3 >.list-group > a, #channel-4 >.list-group > a, #channel-5 >.list-group > a, #channel-6 >.list-group > a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}


.nav-tabs {
    background-color: #DDFFFF
}

#side-content > .list-group-item {
    border-style: none none dotted none;
    border-width: 1px;
    border-bottom-color: #aaaabb;
    margin-top: 1px;
    padding-bottom: 1px;

}